html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  height: auto;
  font-size: 16px;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  display: inline-block;
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.container {
  max-width: 1440px;
  width: 85%;
  margin: 0 auto;
}

button {
  cursor: pointer;
  border: none;
}

#hero {
  width: 100%;
  height: 100vh;
  background-color: rgba(126, 126, 77, 0.348);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.phone__border {
  width: 320px;
  height: 600px;
  background-image: url(../../../images/bgImage.jpg);
  background-size: cover;
  border-radius: 40px;
  border: 10px solid black;
  padding: 40px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 20px;
  position: relative;
}

.btn {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  background-size: cover;
  background-position: center;
  background-image: url(../../../images/notes.jpg);
}

.settings {
  background-image: url(../../../images/settings.webp);
}

.files {
  background-image: url(../../../images/files.jpg);
}

.play_market {
  background-image: url(../../../images/playMarket.png);
}

.alarm_btn {
  background-image: url(../../../images/alarm.jpg);
}

.timer_btn {
  background-image: url(../../../images/timer.png);
}

.time_btn {
  background-image: url(../../../images/clock.png);
}

.telegram {
  background-image: url(../../../images/telegram.png);
}

.maps {
  background-image: url(../../../images/maps.png);
}

.google {
  background-image: url(../../../images/google.png);
}

.kril_to {
  background-image: url(../../../images/krilTo.jpg);
}

.line_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
}

.item_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  row-gap: 4px;
}

.open {
  display: none;
}

.item_name {
  color: #fff;
  font-size: 13px;
  width: 50px;
  overflow: hidden;
  height: 20px;
}

.alarm_boxs {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 10px;
  background-color: rgba(51, 51, 51, 0.4470588235);
  padding: 15px 10px;
  border-radius: 8px;
}
.alarm_boxs input {
  background-color: #fff;
  padding: 10px 15px;
  border-radius: 8px;
  border: none;
  outline: none;
}

.alarm_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.set_time {
  padding: 0 20px;
  font-size: 32px;
  font-weight: bold;
  color: blue;
  border-radius: 8px;
}

.time_box {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 25px;
  width: 100%;
}

.timing_style {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(255, 255, 255, 0.2470588235);
  color: #fff;
  width: 50px;
  height: 50px;
  font-size: 34px;
}

.battery_box {
  position: absolute;
  top: 5px;
  right: 25px;
}
.battery_box .battery_rec {
  width: 2px;
  height: 8px;
  position: absolute;
  top: 6px;
  right: -4px;
  background-color: #fff;
}

.battery_percent {
  position: absolute;
  color: #fff;
  top: -2px;
  left: 8px;
}

.battery_level_box {
  width: 50px;
  height: 20px;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.battery_level {
  height: 15px;
  margin: 0 0.5px;
  border-radius: 4px;
}

.battery_fully {
  background-color: green;
  width: 100%;
}

.battery_half {
  width: 50%;
  background-color: green;
}

.battery_null {
  width: 10%;
  background-color: red;
}

.hero_time {
  position: absolute;
  top: 4px;
  left: 20px;
  color: #fff;
}

.footer_boxes {
  position: absolute;
  bottom: 20px;
  left: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 80%;
}

.close_btn {
  border-radius: 8px;
  background-color: rgba(195, 195, 195, 0.5058823529);
  color: #fff;
  font-weight: 900;
  font-size: 24px;
  padding: 10px 20px;
}
.close_btn:hover {
  background-color: rgba(195, 195, 195, 0.7176470588);
}

.center {
  left: 100px;
}

.same_btn {
  border-radius: 4px;
  color: #fff;
  padding: 4px 10px;
}

.play_alarm {
  background-color: green;
}

.stop_alarm {
  background-color: red;
}

.timer_boxes {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 15px;
}

.timer_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 50px;
  text-align: center;
  margin: 0 auto;
}

.clock {
  width: 80px;
  padding: 5px 20px;
  border-radius: 8px;
  outline: none;
}

.timer_text {
  color: #fff;
}

.btn_box {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timer_same_btn {
  border-radius: 10px;
  padding: 8px 20px;
  color: #fff;
  font-size: 20px;
}

.play_btn {
  background-color: green;
}

.stop_btn {
  background-color: red;
}

.reset_btn {
  background-color: rgb(79, 123, 218);
}/*# sourceMappingURL=main.css.map */